/* Remove default margin,  add accessible line-height and improves text rendering */
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  background-color: #add0ca;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Styling for header */
header {
  position: fixed;
  top: 0; /* So header is on top of page */
  /* left: 0; */
  width: 100%;
  height: 60px;
  background-color: #3d898d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.dark-mode header {
  background-color: #111122;
}

#modeSwitcher {
  border-radius: 50%;
  border: 3px solid #e2dddf;
  padding: 4px 6px;
  background-color: #3d898d;
  margin-left: 10px;
  margin-bottom: 10px;
}
.dark-mode #modeSwitcher {
  background-color: #3d898d;
  border: 3px solid purple;
}
.dark-mode {
  background-color: #2f404d;
}
#lightmode {
  width: 30px;
}
/* Darkmode main section*/

.dark-mode #pol {
  background: var(--gradient-dark-pol);
  background-size: 200% 200%;
  /* animation: gradient 300s linear infinite; */
}
.dark-mode #portrait {
  background: var(--gradient-dark-portrait);
  background-size: 200% 200%;
  animation: gradient 50s linear infinite;
}

/* Darkmode for The project section */
.dark-mode .proh2 {
  font-weight: bold;
  color: #e2e2e8;
  text-shadow: 0 0 10px rgb(48, 157, 204);
}

/* Dark mode for the contact section */
.dark-mode #kontakt {
  background: var(--gradient-dark-pol);
}
.dark-mode .contact-name {
  color: white;
}

/* Darkmode for the footer */
.dark-mode #footer {
  background-color: #111122;
  color: #85ebd9;
}
.dark-mode #git-hub {
  background-color: #85ebd9;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #e2dddf;
}
.dark-mode #linked-in {
  background-color: #85ebd9;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #e2dddf;
}

/*Styling for the Navbar (Hamburger-menu)*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  margin-right: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}
.nav-list a {
  text-decoration: none;
  font-size: 16px;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #e2dddf;
  margin: 3.5px 0;
  transition: 0.3s;
}
.dark-mode .menu-toggle span {
  background-color: #85ebd9;
}
/*Styling for the "X" appearance */
.menu-toggle span.change:nth-child(1) {
  transform: rotate(-45deg) translate(-6.5px, 4.5px);
}

.menu-toggle span.change:nth-child(2) {
  opacity: 0;
}

.menu-toggle span.change:nth-child(3) {
  transform: rotate(45deg) translate(-9.5px, -7.5px);
}

/*Colors for the dark & light animation*/
:root {
  --gradient-light-portrait: linear-gradient(
    0deg,
    rgb(190, 188, 194) 1%,
    rgb(58, 10, 61) 37%,
    rgb(153, 218, 223) 100%
  );
  --gradient-light-pol: linear-gradient(
    180deg,
    rgb(189, 220, 214) 10%,
    rgb(173, 133, 175) 37%,
    rgb(153, 218, 223) 100%
  );
  --gradient-dark-portrait: linear-gradient(
    0deg,
    rgb(37, 19, 75) 10%,
    rgb(115, 78, 118) 37%,
    rgb(59, 9, 78) 100%
  );
  --gradient-dark-pol: linear-gradient(
    180deg,
    rgb(21, 10, 45) 3%,
    rgb(145, 29, 154) 27%,
    rgb(46, 6, 57) 90%
  );
}

@keyframes neonlight {
  0% {
    color: #2f404d;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
  2% {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
  3% {
    color: #2f404d;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
  4% {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
  6% {
    color: #2f404d;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
  100% {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
  }
}

/* Styling for the sidebar */
.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  background: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .social-icon {
  display: block;
  text-decoration: none;
} */

/*Responsive design for smaller screens*/

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
  #main {
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pol {
    margin-top: 60px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgb(145, 158, 156) 1%,
      rgb(129, 87, 132) 37%,
      #4f9397 90%
    );
    height: 50px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-size: 200% 200%;
    /* animation: gradient 30s linear infinite; */
  }

  #portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 16em;
    border-radius: 50%;
    background: var(--gradient-light-portrait);
    background-size: 200% 200%;
    animation: gradient 60s linear infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 200% 500%;
    }
    10% {
      background-position: 150% 50%;
    }
    20% {
      background-position: 100% 500%;
    }
    30% {
      background-position: 50% 500%;
    }
    40% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 150% 500%;
    }
    60% {
      background-position: 100% 50%;
    }
    70% {
      background-position: 50% 500%;
    }
    80% {
      background-position: 100% 50%;
    }
    90% {
      background-position: 150% 500%;
    }
    100% {
      background-position: 150% 50%;
    }
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .nav-list.show {
    display: flex;
    background-color: #3d898d;
  }
  .dark-mode .nav-list.show {
    background-color: #111122;
  }

  .nav-list li {
    margin: 10px 0;
  }
  .nav-list a {
    color: #e2dddf;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  .dark-mode .nav-list a {
    color: #85ebd9;
  }
  #main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    max-width: 550px;
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
  }
  .dark-mode #main-card {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }
  #avatar {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-size: cover;
  }
  .navn {
    margin-top: 15px;
    font-size: 20px;
  }
  .tittel {
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
  }
  .short-aboutme {
    padding: 12px;
    font-size: 16px;
  }
  .main2-title {
    text-align: center;
    margin-top: 3.5em;
  }
  .dark-mode .main2-title {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    animation: neonlight 4s;
  }

  #main2 {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main2-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
  }
  .about-p {
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
    width: fit-content;
    margin: 10px;
    padding: 20px;
  }
  .dark-mode .about-p {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }

  #portrait-2 {
    height: 14em;
    width: 14em;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    align-self: center;
    border-radius: 12px;
    box-shadow: 12px 20px 10px 8px rgb(102, 91, 120);
  }
  .dark-mode #portrait-2 {
    box-shadow: 2px 10px 20px 8px rgb(173, 52, 180);
  }
  #avatar-2 {
    object-fit: cover;
    border-radius: 15px;
    width: 15em;
    height: 15em;
  }

  .proh2 {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 20px;
    font-weight: bold;
  }
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  #projects p {
    display: inline-block;
    padding: 20px 50px;
  }
  .project {
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
    border: 1px solid #141414;
    border-radius: 12px;
    width: 350px;
    height: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden; /* added overflow property to contain the absolute positioned info */
  }

  .project .prosjekt-img {
    max-width: 100%;
    height: auto;
  }

  .project .project-info {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #e2dddf;
  }
  .dark-mode .project .project-info {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }
  .dark-mode #ghi {
    background-color: #85ebd9;
    border-radius: 50%;
  }
  .dark-mode #pbi {
    background-color: #85ebd9;
    border-radius: 50%;
  }

  /* Styling for the Contact section */

  #kontakt {
    border-radius: 15px;
    margin: 145px 50px;
    background-color: #71d2c0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
  }
  .dark-mode #kontakt {
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
  }

  .contact-name {
    padding: 15px;
  }
  #contact-container {
    width: 80%;
  }
  #form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }
  #form-send {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 12px;
  }

  /* Styling for the footer section */

  #footer {
    height: 100px;
    width: 100%;
    background-color: #3d898d;
  }
  #footer-icons {
    gap: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #git-hub {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #e2dddf;
  }
  .dark-mode #git-hub {
    background-color: #85ebd9;
  }
  #linked-in {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #e2dddf;
  }
  .dark-mode #linked-in {
    background-color: #85ebd9;
  }
  #copyright {
    text-align: center;
  }
}
/*Responsive design for larger screens*/

@media (min-width: 768px) {
  header {
    margin: 0;
  }
  .nav-list a {
    color: #e2dddf;
  }
  .nav-list a:hover {
    color: #85ebd9;
    transition-duration: 0.2s;
  }
  .live-icon p {
    background-color: #3d898d;
  }
  #main {
    margin-top: vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pol {
    margin-top: 60px;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      0deg,
      rgb(145, 158, 156) 1%,
      rgb(129, 87, 132) 37%,
      #4f9397 90%
    );
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-size: 200% 200%;
    /* animation: gradient 300s linear infinite; */
  }

  #portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21em;
    height: 21em;
    border-radius: 50%;
    background: var(--gradient-light-portrait);
    background-size: 200% 200%;
    animation: gradient 60s linear infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 200% 500%;
    }
    10% {
      background-position: 150% 50%;
    }
    20% {
      background-position: 100% 500%;
    }
    30% {
      background-position: 50% 500%;
    }
    40% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 150% 500%;
    }
    60% {
      background-position: 100% 50%;
    }
    70% {
      background-position: 50% 500%;
    }
    80% {
      background-position: 100% 50%;
    }
    90% {
      background-position: 150% 500%;
    }
    100% {
      background-position: 150% 50%;
    }
  }

  #avatar {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-size: cover;
  }
  /* #Om-meg {
    margin-top: 300px;
  } */
  #main-card {
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    max-width: 550px;
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
  }
  .dark-mode #main-card {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }

  .navn {
    margin-top: 8px;
    font-size: 30px;
  }

  .tittel {
    font-size: 20px;
  }

  .short-aboutme {
    padding: 15px 45px;
  }

  /* About me section */
  .main2-title {
    text-align: center;
    margin-top: 3.5em;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .dark-mode .main2-title {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    animation: neonlight 4s;
  }

  #main2 {
    margin: 10.5em 4em 3em 4em;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-p {
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
    width: fit-content;
    margin: 10px 20px;
    padding: 20px;
  }
  .dark-mode .about-p {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }

  #portrait-2 {
    /* height: 16em; */
    display: flex;
    align-self: self-end;
    margin: 20px 0px;
    border-radius: 12px;
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
  }
  .dark-mode #portrait-2 {
    box-shadow: 2px 3px 14px 7px rgb(102, 91, 120);
  }
  #avatar-2 {
    height: 350px;
    width: 550px;
  }

  /* Project section */
  .proh2 {
    margin-top: 3.5em;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: bold;
  }
  .dark-mode .proh2 {
    text-shadow: 0 0 10px rgb(135, 18, 126);
    animation: neonlight 4s;
  }

  .flex-1,
  .flex-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
  }

  #projects {
    margin-top: 25px;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
  }
  #projects p {
    margin: 20px 50px;
  }

  .project {
    box-shadow: 12px 9px 14px 2px rgb(102, 91, 120);
    border: 1px solid #141414;
    max-width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transform: translate(50% 50%);
    overflow: hidden; /* added overflow property to contain the absolute positioned info */
  }
  /* .dark-mode .project {
    color: #e8e2e7;
    box-shadow: 2px 3px 14px 7px rgb(102, 91, 120);
    background-color: #111122;
  } */

  .project .prosjekt-img {
    max-width: 100%;
    transition: transform 1s ease-in-out; /* added transition for image scaling on hover */
  }
  .sec-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ghi {
    background-color: #85ebd9;
    border-radius: 50%;
  }
  #ghi:hover {
    transform: scale(1.1);
  }
  .dark-mode #ghi:hover {
    box-shadow: 0px 0px 20px #e2dddf;
  }
  #pbi {
    background-color: #85ebd9;
    border-radius: 50%;
  }
  #pbi:hover {
    transform: scale(1.1);
  }
  .dark-mode #pbi:hover {
    box-shadow: 0px 0px 20px #e2dddf;
  }

  .project .project-info {
    color: #111122;
    position: absolute;
    top: 0;
    left: 50;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 100%;
    opacity: 1;
    transform: translateY(65%); /* initially move the info off-screen */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .dark-mode .project .project-info {
    color: #e8e2e7;
    text-shadow: 0 0 10px rgb(135, 18, 126);
    box-shadow: 2px 1px 25px 5px rgb(173, 52, 180);
    background-color: #111122;
  }

  .project:hover .prosjekt-img {
    transform: scale(1.1); /* increase image size on hover */
  }

  .project:hover .project-info {
    opacity: 0.8;
    background-color: #e2dddf;
    transform: translateX(0); /* move the info back on-screen */
    /* background-color: #6b9080; */
  }

  .dark-mode .project:hover .project-info {
    background-color: #111122;
    color: white;
  }

  /* Contact section */

  #kontakt {
    padding: 0;
    margin: 280px 25%;
    background-color: #71d2c0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 14px 7px rgb(102, 91, 120);
    align-items: center;
  }
  .contact-name {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .dark-mode .contact-name {
    animation: neonlight 4s;
  }
  #contact-container {
    width: 50%;
  }
  #form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  #form-send {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 12px;
  }
  .dark-mode #form-send:hover {
    box-shadow: 0px 0px 10px white;
  }
  #form-send:hover {
    box-shadow: 0px 0px 10px #2f404d;
    cursor: pointer;
  }
  #footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100px;
    background-color: #3d898d;
  }
  #footer-icons {
    gap: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  #git-hub {
    background-color: #85ebd9;
    border-radius: 50%;
  }
  #linked-in {
    background-color: #85ebd9;
    border-radius: 50%;
  }
  #linked-in:hover {
    box-shadow: 0px 0px 20px #e2dddf;
    transform: scale(1.1);
  }
  #git-hub:hover {
    box-shadow: 0px 0px 20px #e2dddf;
    transform: scale(1.1);
  }
}
