/* Remove default margin,  add accessible line-height and improves text rendering */
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  background-color: white;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* .dark-mode {
  background-color: black;
  color: white;
} */

/* Styling for header */
header {
  position: fixed;
  top: 0; /* So header is on top of page */
  left: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #1b764f;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/*Styling for the Navbar (Hamburger-menu)*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  margin-right: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 16px;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  z-index: 1000;
  margin-bottom: 10px;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: #f2f2f2;
  margin: 4px 0;
  transition: 0.3s;
}
/*Styling for the "X" appearance */
.menu-toggle span.change:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 7.5px);
}

.menu-toggle span.change:nth-child(2) {
  opacity: 0;
}

.menu-toggle span.change:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -7.5px);
}

/*Responsive design for the nav menu*/
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #2c2d2c;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }
}
#main {
  /* background-color: #0e0e0e; */
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navn {
  margin-top: 75px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2c2d2c;
}

.about-text {
  padding: 12px;
  text-align: center;
  margin: 0 10px 0 10px;
  /* color: #f2f2f2; */
  width: 75%;
}

.Ommeg-btn {
  margin-top: 8px;
  /* background-color: #6b9080; */
  color: #f2f2f2;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  transition: 0.3s;
}

#avatar {
  padding: 5px;
  margin: 20px;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  border: 4px solid rgb(83, 7, 71);
  background-size: cover;
}
#main {
  /* background-color: #a4c3b2; */
  padding-bottom: 12px;
}
.proh2 {
  padding-top: 130px;
  color: rgb(83, 7, 71);
  text-align: center;
  padding-bottom: 3rem;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.project {
  border: 2px solid purple;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden; /* added overflow property to contain the absolute positioned info */
}

.project img {
  max-width: 100%;
  height: auto;
  transition: transform 2s ease-in-out; /* added transition for image scaling on hover */
}

.project .project-info {
  color: rgb(83, 7, 71);
  background-color: #b8d0c6;
  /* background-color: #6b9080; */
  position: absolute;
  top: 0;
  left: 50;
  text-align: center;
  padding: 20px;
  width: 400px;
  height: 100px;
  opacity: 0;
  transform: translateY(-100%); /* initially move the info off-screen */
  transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.project:hover img {
  transform: scale(1.5); /* increase image size on hover */
}

.project:hover .project-info {
  opacity: 0.8;
  background-color: #b8d0c6;
  transform: translateX(0); /* move the info back on-screen */
  /* background-color: #6b9080; */
}
.project-info p:hover {
  cursor: pointer;
}
